.env
.github/*
!.github/
!.github/workflows/
!.github/workflows/poetry-package.yml
.vscode/
*.csv
*.png
*.pyc
*.swp
a.out
build/
dist/
.venv/
*.egg-info/
coverage/
ISS.OEM_J2K_EPH.txt
src/oem_to_omm/*.oem
src/oem_to_omm/*.omm
src/oem_to_omm/*.tle
propagation/*.oem
tmp/
src/tudatpy_utils/common/interpolator/cpp/
