!.github/
!.github/workflows/
!.github/workflows/poetry-package.yml
.coverage
.env
.github/*
.pybuild/
.venv/
.vscode/
*.csv
*.egg-info/
*.png
*.pyc
*.swp
a.out
build/
coverage/
dist/
ISS.OEM_J2K_EPH.txt
oem_to_omm/*.oem
oem_to_omm/*.omm
oem_to_omm/*.tle
poetry.lock
propagation/*.oem
tmp/
